{% extends '__base__.html' %}
{% block title %}{{{{article.title}}}}{% endblock %}

{% block beforehead %}
<style>
    #article_block img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/digolds/digresources/css/markdown_highlight.css">
{% endblock %}

{% block content %}
<div id="main" class='uk-container uk-container-small uk-padding'>
    <div class="uk-child-width-1-1 uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div id="article_block" class="uk-card uk-card-default uk-card-body">
                {{{{article_content|safe}}}}
            </div>
        </div>
        <div>
            <ul class="uk-iconnav uk-flex-center">
                <li><a href="/views/blogs" uk-icon="icon: reply"></a></li>
                {% if newer_article %}
                <li><a href="/views/article/{{{{newer_article.id}}}}">{{{{newer_article.title}}}}</a></li>
                <li><a href="/views/article/{{{{newer_article.id}}}}" uk-icon="icon: chevron-left"></a></li>
                {% endif %}
                <li><span class="uk-text-bold uk-text-large">{{{{article.title}}}}</span></li>
                {% if older_article %}
                <li><a href="/views/article/{{{{older_article.id}}}}" uk-icon="icon: chevron-right"></a></li>
                <li><a href="/views/article/{{{{older_article.id}}}}">{{{{older_article.title}}}}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}